.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #415f81;
}

form {
  width: 250px;
  padding: 40px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 15px;
  margin-top: -10px;
  color: #7b95bb;
  font-size: 1.8rem;
}

button {
  display: block;
  width: 107%;
  padding: 10px;
  font-size: 1rem;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* FormInput.css */

.FormInput {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #a87878;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
@media screen and (max-width: 480px) {
  /* Adjust the styles for smaller screens */
  .FormInput {
    margin-bottom: 10px;
  }

  label {
    font-size: 14px;
  }

  input {
    padding: 6px;
    font-size: 14px;
  }
}
